<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Milestone5</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
        <div id="app">
            <header>
                <div class="searchbar">
                    <h1>BOOLFLIX</h1>
                    <div>
                        <input type="text" v-model="film">
                        <button @click="cerca">invio</button>
                    </div>
                </div>
            </header>

            <main>
                <div class="container">
                <!-- FILM -->
                    <div class="film_card" v-for="(risultato, index) in risultati" :style="{'background-image':'url(' + `http://image.tmdb.org/t/p/w500/${risultato.poster_path}` + ')' }">
                        <div class="card-black">
                            <!-- titolo -->
                            <div class="titolo">Titolo:{{risultato.title}}</div>
                            <!-- titolo originale -->
                            <div class="titolo_originale">Titolo originale:{{risultato.original_title}}</div>
                            <!-- cast -->
                            <div class="cast">
                                <ul>Cast:
                                    <li v-for="attore in risultato.attori">{{attore}}</li> 
                                </ul>
                            </div>
                            <!-- genere -->
                            <div class="generi">
                                <ul>Genere:
                                    <li v-for="(genere, index) in risultato.generi">{{[index+1]}} {{genere}}</li> 
                                </ul>
                            </div>
                            <!-- lingua -->
                            <template>
                                <!-- se la lingua è inglese carica l'immagine -->
                                <div class="lingua" v-if="risultato.original_language == 'en'">Lingua:<img src="./assets/img/bandiera inglese.jpg"></div>
                                <!-- se la lingua è italiano carica l'immagine -->
                                <div class="lingua" v-else-if="risultato.original_language == 'it'">Lingua:<img src="./assets/img/bandiera italia.png"></div>
                                <!-- se la lingua non è ne inglese ne italiano carica l'immagine e scrivi la lingua -->
                                <div class="lingua" v-else>Lingua:<img src="./assets/img/no flag.png"><span>{{risultato.original_language}}</span></div>
                            </template>
                            <!-- voto -->
                            <div class="voto">
                                <!-- se il voto è uguale a 5 -->
                                <i class="fas fa-star" v-if="voto[index] == 5"></i>
                                <!-- se il voto è uguale a 4 -->
                                <i class="fas fa-star" v-if="voto[index] == 5 || voto[index] == 4"></i>
                                <!-- se il voto è uguale a 3 -->
                                <i class="fas fa-star" v-if="voto[index] == 5 || voto[index] == 4 || voto[index] == 3"></i>
                                <!-- se il voto è uguale a 2 -->
                                <i class="fas fa-star" v-if="voto[index] == 5 || voto[index] == 4 || voto[index] == 3 || voto[index] == 2"></i>
                                <!-- se il voto è uguale a 1 -->
                                <i class="fas fa-star" v-if="voto[index] == 5 || voto[index] == 4 || voto[index] == 3 || voto[index] == 2 || voto[index] == 1"></i>
                                <!-- se il voto è uguale a 0 -->
                                <i class="far fa-star" v-if="voto[index] == 0"></i>
                                <!-- se il voto è uguale a 1 -->
                                <i class="far fa-star" v-if="voto[index] == 0 || voto[index] == 1"></i>
                                <!-- se il voto è uguale a 2 -->
                                <i class="far fa-star" v-if="voto[index] == 0 || voto[index] == 1 || voto[index] == 2"></i>
                                <!-- se il voto è uguale a 3 -->
                                <i class="far fa-star" v-if="voto[index] == 0 || voto[index] == 1 || voto[index] == 2 || voto[index] == 3"></i>
                                <!-- se il voto è uguale a 4 -->
                                <i class="far fa-star" v-if="voto[index] == 0 || voto[index] == 1 || voto[index] == 2 || voto[index] == 3 || voto[index] == 4"></i>
                            </div>
                        </div>
                    </div>

                    <!-- SERIE TV -->
                    <div class="film_card" v-for="(risultato, index) in risultatiSerie" :style="{'background-image':'url(' + `http://image.tmdb.org/t/p/w500/${risultato.poster_path}` + ')' }">
                        <div class="card-black">
                            <!-- titolo -->
                            <div class="titolo">Titolo:{{risultato.name}}</div>
                            <!-- titolo originale -->
                            <div class="titolo_originale">Titolo originale:{{risultato.original_name}}</div>
                            <!-- cast -->
                            <ul class="cast">Cast:
                                <li v-for="attore in risultato.attori">{{attore}}</li> 
                            </ul>
                            <!-- genere -->
                            <div class="generi">
                                <ul>Genere:
                                    <li v-for="(genere, index) in risultato.generi">{{[index+1]}} {{genere}}</li> 
                                </ul>
                            </div>
                            <!-- lingua -->
                            <template>
                                <!-- se la lingua è inglese carica l'immagine -->
                                <div class="lingua" v-if="risultato.original_language == 'en'">Lingua:<img src="./assets/img/bandiera inglese.jpg"></div>
                                <!-- se la lingua è italiano carica l'immagine -->
                                <div class="lingua" v-else-if="risultato.original_language == 'it'">Lingua:<img src="./assets/img/bandiera italia.png"></div>
                                <!-- se la lingua non è ne inglese ne italiano carica l'immagine e scrivi la lingua -->
                                <div class="lingua" v-else>Lingua:<img src="./assets/img/no flag.png"><span>{{risultato.original_language}}</span></div>
                            </template>
                            <!-- voto -->
                            <div class="voto">
                                <!-- se il votoSerie è uguale a 5 -->
                                <i class="fas fa-star" v-if="votoSerie[index] == 5"></i>
                                <!-- se il votoSerie è uguale a 4 -->
                                <i class="fas fa-star" v-if="votoSerie[index] == 5 || votoSerie[index] == 4"></i>
                                <!-- se il votoSerie è uguale a 3 -->
                                <i class="fas fa-star" v-if="votoSerie[index] == 5 || votoSerie[index] == 4 || votoSerie[index] == 3"></i>
                                <!-- se il votoSerie è uguale a 2 -->
                                <i class="fas fa-star" v-if="votoSerie[index] == 5 || votoSerie[index] == 4 || votoSerie[index] == 3 || votoSerie[index] == 2"></i>
                                <!-- se il votoSerie è uguale a 1 -->
                                <i class="fas fa-star" v-if="votoSerie[index] == 5 || votoSerie[index] == 4 || votoSerie[index] == 3 || votoSerie[index] == 2 || votoSerie[index] == 1"></i>
                                <!-- se il voto serie è uguale a 0 -->
                                <i class="far fa-star" v-if="votoSerie[index] == 0 "></i>
                                <!-- se il voto serie è uguale a 1 -->
                                <i class="far fa-star" v-if="votoSerie[index] == 0 || votoSerie[index] == 1 "></i>
                                <!-- se il voto serie è uguale a 2 -->
                                <i class="far fa-star" v-if="votoSerie[index] == 0 || votoSerie[index] == 1 || votoSerie[index] == 2"></i>
                                <!-- se il voto serie è uguale a 3 -->
                                <i class="far fa-star" v-if="votoSerie[index] == 0 || votoSerie[index] == 1 || votoSerie[index] == 2 || votoSerie[index] == 3"></i>
                                <!-- se il voto serie è uguale a 4 -->
                                <i class="far fa-star" v-if="votoSerie[index] == 0 || votoSerie[index] == 1 || votoSerie[index] == 2 || votoSerie[index] == 3 || votoSerie[index] == 4"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </main>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="assets/js/main.js" charset="utf-8"></script>
    </body>
</html>